torch==2.3.1+cu118
torchvision==0.18.1+cu118
timm==1.0.7
anndata==0.10.9
igraph==1.0.0
networkx==3.3
numpy==1.26.4
pandas==2.3.2
Pillow==11.0.0
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.15.3
tqdm==4.67.1
h5py==3.11.0
huggingface-hub==0.34.4
natsort==8.4.0
opencv-python==4.10.0.84
scanpy==1.10.2
tifffile==2025.5.10
